<div class="session_for_login">
<%= form_tag sessions_path do -%>
<label for="login">用户</label>
<%= text_field_tag :login, params[:login] %><br />
<label for="password">密码</label>
<%= password_field_tag :password, params[:password] %><br />
<%= submit_tag "登录" %>
<% end %>
</div>

