<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<title>Onetrip</title>
<style>
h1 {background-color:#B45B3E;;
       color:white;}
h3 {background-color:#479AC7;
       color:white;}
ul{ background:#fff;margin:0;padding:0;text-align:left;}
li {background-color:#00B271; list-style:none;}


</style>  

</head>
<body>
<h1>Video  List</h1>
<h3>Name</h3>
<ul>
 <%  @videos.each do |video| %>
<li style="none"> <%= video.name %></li>
<%= link_to "play", video%>
<% end %>
</ul>
 
</br>
<%= will_paginate @videos %>
</body>
</html>








