<div id="content">
<ul>
<% @videos.each do |video| %>
<li><a href="<%= video_path(video) %>"><%= video.name %></a></li>
<% end %>
</ul>
</div>
<div id="will_paginate">
<%= will_paginate @videos,:previous_label => '上一页', :next_label => '下一页',:window =>0 %>
</div>








