*{
  margin:0px;
  padding:0px;
}
body{
  font-family:Arial,Verdana,"Sans-seri";
  background:#DCDCDC;
  width:100%;

}
.clearfix{ display:block; }

img{ border:0px;}
#header{ 
  background:#b61313;
  height:79px;
}
#header h1 { 
  float:left;
  margin-left: 20px;
  margin-top: 23px;
} 
#header h1 a {
  width: 136px;
  height: 33px;
  display:block;
  background:url(logo.jpg) no-repeat; 
  text-align: center;
  line-height: 49px; 
  font-size: 20px; 
  text-indent: -10000px;
}
#header img.Subtitle {
  float: right;
  margin-right: 20px;
  margin-top: 31px; 
}
#content ul {
  width:100%;
}

span.style_decration{
  float:left;
  color: #A2201A;
  font-size: 25px;
  width: 15px;
}
li:hover{
  background-color:#87CEFA;
}
li a{
  margin-left:10px;
  padding-left:10px;

}
a{
  text-decoration:none;
}
a:hover{
  background:#F08080;
  color:#000000;
}

.pagination {  
  padding: 3px;  
  margin: 30px 1px 30px 30px;
  float:right;
  display:inline-block;
  text-align: right; 
  position: relative; 
}  
.pagination a {  
  padding: 2px 5px 2px 5px;  
  margin: 2px;  
  border: 1px solid #aaaadd;  
  text-decoration: none;  
  color: #000099;  
}  
.pagination a:hover, .pagination a:active {  
  border: 1px solid #000099;  
  color: #000;  
}  
.pagination span.current {  
  padding: 2px 5px 2px 5px;  
  margin: 2px;  
  border: 1px solid #000099;  
  font-weight: bold;  
  background-color: #000099;  
  color: #FFF;  
}  
.pagination span.disabled {  
  display: none;

}
.page_info{
  float:right;
  text-align:right;
  display:inline-block;
  margin:35px -30px 10px 30px;
  font-size:0.5em;
  position: relative;
}  
.pag_info_will_pag{
  width:100%;
  height:40px;
  margin:10px auto 30px auto;
}
.player h1 {
  margin: 20px 0 0 0;
  text-align: center;
}
.player .video {
  margin: 10px auto;
}
#back {
  text-align:right;
  margin: 20px 20px 20px 0;
}
div.up_loader{
  margin-top:20px;
}
.up_loader a,#back a {
  padding: 2px 5px 2px 5px;  
  margin: 2px;  
  border: 1px solid #C0C0C0;  
  text-decoration: none;  
  color:#000;
}

#footer{
  width:100%;
  height:65px;
  background:#696969;
  line-height:65px;
  text-align:center;
  margin-top:40px auto;
  position:absolute;
}
.file{
  height:60px;
  line-height:60px;
}
.videoname_head{
  margin-top:10px;
  margin-bottom:10px;

}
.videoname input{
  height:21px;
  line-height:21px;
  margin-top:10px;
  margin-bottom:10px;
}
.file_field input{
  text-align:center;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  position:relative;

}
div.actions input{
  height:20px;
  width:70px;
}
div.session_for_login{
  line-height:30px;
  margin-top:20px;
}


