<html>
<head>
</head>
<body>
<div id="head">
<h1>编辑视频<img src="<%= asset_path 'logo.png' %>"/></h1>
</div>
<%= render 'form' %>
<div id="back">
<a href="<%= admin_videos_path%>">返回</a>
</div>
<div id="footer"><span>Copyright &nbsp © &nbsp 壹旅游 2011-2012</span></div>
</body>
</body>
</html>
