<html>
<head>
</head>
<body>
<h1>Editing video<img src="<%= asset_path 'logo.png' %>"/></h1>

<%= render 'form' %>
<a href="<%= admin_videos_path%>">back</a>
<div id="footer"><span>Copyright &nbsp © &nbsp 壹旅游 2011-2012</span></div>
</body>
</body>
</html>
