<html>
<head>
<style>
</style>
</head>
<body>
<h1> New  Video</h1>
<%= render  'form'  %>
<%= link_to 'back',  admin_videos_path%>
<div id="footer"><span>Copyright &nbsp © &nbsp 壹旅游 2011-2012</span></div>
</body>
</body>
</html>